{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<!-- Sección de bienvenida -->
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold  mb-3 fst-italic">Registrate en BLOG POSTS</h1>

            <p class="col-lg-10 fs-4">Aquí podrás compartir tus ideas, pensamientos y experiencias con una comunidad
                global de lectores.
                Nuestra plataforma es fácil de usar y te permite publicar tus blogs en pocos pasos.
            </p>

            <p class="col-lg-10 fs-4">
                ¡Únete a nuestra comunidad hoy y comienza a compartir tus ideas con el mundo!
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Nombre de perfil</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Correo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Registrate</button>
                <hr class="my-4">
                <p class="text-muted text-center">Si tienes una cuenta en BLOG-POSTS haz clic en
                    <a href="login.html">Iniciar sesión</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}