{% extends 'base.html' %}

{% block content %}
<section class="confirm">
    <main class="form-signin w-100 m-auto text-center">
        <div class="card">
            <h5 class="card-header">{% block title %}Confirma la Eliminación{% endblock %}</h5>
            <div class="card-body">
                <h4 class="card-title">¿Deseas eliminar de manera permanente el Blog?</h4>
                <br>
                <h1 class="card-text">"{{ post.title }}"</h1>
                <br>
                <a title="Conservar Blog" href="{{ url_for('post.posts') }}" class="btn btn-primary">Conservar Blog</a>
                <a title="Eliminar" href="{{ url_for('post.delete', id = post.id) }}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </main>
</section>
{% endblock %}

<!-- Agregamos el bloque de message -->
{% block message %} alert-danger {% endblock %}