{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <div class="header mb-4 mt-4">
            <h1 class="h3">{% block title %}Editar Blog{% endblock %}</h1>
        </div>
        <div class="body">
            <form method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title" required
                        placeholder="Título del blog" value="{{ post.title }}">
                </div>
                <div class="mb-3">
                    <label for="info" class="form-label">Descripción</label>
                    <textarea class="form-control" id="info" name="info" rows="3" required
                        placeholder="Breve descripción del blog">{{ post.info }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Contenido</label>
                    {# Ejecutamos CKEditor #}
                    {{ ckeditor.create(value=post.content) }}
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a class="btn btn-danger" href="{{ url_for('post.posts') }}">Cancelar</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}